<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>

<p>
    Splurty was built by <a target="_blank" href="http://github.com/icrustandi">Ian Rustandi</a>. Splurty is his first Ruby on Rails application to ship in production. Splurty is a random quote generator that allows user submisions. This flavor of Splurty is "inside quotes" themed - quotes that are shared exclusively between friends and loved ones. 
  </p>
  <br />

<div class="col-xs-12 col-sm-4">
    <%= image_tag 'ian.jpg', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Ian Rustandi</h2>
    <br />
    <p>
      Ian is a hungry student looking to become a self-sufficient developer. He received his Bachelor of Science degree in electrical engineering from UCLA, and went on to pursue a career in technical sales. Currently he is working fulltime at OSIsoft as an Inside Account Manager. Having learned pure sales in a world of enterprise software within inside sales, he intends on going back to a more technical role. Possibilities include roles as a sales engineer or software developer. 
    </p>
  </div>
  <br class="clear" />
 <br />
 <br />
 <br />
 <br />

  </div>


</div>
